#discover-section{
    margin: 0 auto;
    /* background-color: rgb(119, 98, 119); */
    max-width: 80vw;
    height: 900px;
  }

#discover-greeting, #discover-title{
  font-size: var(--fs-large);
}

.quick-links-grid{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

  #discover-section1{
    grid-template-columns: repeat(5,1fr);
    margin: 0 auto;
    display: grid;
    justify-items: center;
  }

  announcement-container{
    max-height: 1vh;
    display: inline;
    background-color: grey;
    opacity: 72%;
  }

