.receipe-card{
    margin: 1rem 1rem;
    display: grid;
    background-color: #fff;
    grid-template-rows: 1fr;
    grid-template-columns: 10vw 1fr 30vw;
    grid-template-areas: "image title extraInfo";
    grid-gap: .5rem;                      
    place-items: center left;
    text-align: left;
    margin-bottom: 1rem;
    background: rgba( 56, 56, 56, .3);
    color: snow;
    min-height: 12px;
  }
  
  #receipe-card-title{
    margin: auto;
    font-size: 1vw;
  }

  #receipe-card-image{
    grid-area: image;
    height: inherit;
    max-width: 100%;
  }
  #receipe-card-long-text-info{
    margin: 0 0 0 0;
    grid-area: title;
    font-size: 2vw;
  }
  
  .receipe-card:hover{
      background-color: #eee;
      cursor: pointer;
    }