#receipe-grid{
    min-height: 1000px;
    background-color: #fff;
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    place-items: top center;
    max-width: 80vw;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: auto 1fr;
    grid-template-areas: "Header Header Image"
                          "Ingredients Steps Steps";  
  }  
  #receipe-header{
    grid-area: Header;
    text-align: left;
    padding-left: .4rem;
    max-height: 10rem;
    font-size: .8rem;
  }    
  #receipe-image {
    grid-area: Image;
  }  
  #ingredients-list{
    grid-area: Ingredients;
    text-align: left;
    font-size: l.2rem;
  }  
  #steps-list{
    grid-area: Steps;
    text-align: left;
    font-size: l.2rem;
  }