#receipe-collection-card{
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first second second";
    grid-gap: .5rem;                      
    place-items: top left;
    text-align: left;
    margin-bottom: 1rem;
    background-color: #333;
    border-radius: 8%;
    max-height: 6vh;
    background: rgba( 56, 56, 56, .3);
    width: 16vw; 
    max-width: 320px;
  }

  #receipe-collection-card:hover{
    background-color: #777;
    cursor: pointer;
  }

  #collection-card-title{
      grid-area: second;
      opacity: 100%;
      margin: auto;
      margin-left: 0;
      font-size: 1vw;
  }

  h4#collection-card-title{
    font-size: 1vw;
  }
  
  #collection-image{
    grid-area: first;
    height: inherit;
    min-width: 100%;
  }
