#receipe-collection-card{
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "first second second";
    grid-gap: .5rem;                      
    place-items: top left;
    text-align: left;
    margin-bottom: 1rem;
    background-color: #fff;
    height: 11vh;
    width: 30vw; 
    max-width: 420px;
  }

  #receipe-collection-card:hover{
    background-color: #eee;
    cursor: pointer;
  }
  
  #collection-card-title{
      grid-area: second;
      margin: auto;
      margin-left: 0;
      font-size: 1.5vw;
  }
  
  #collection-image{
    grid-area: first;
    height: inherit;
    min-width: 100%;
  }
