.receipe-card{
    margin: 1rem auto;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first second second";
    grid-gap: .5rem;                      
    place-items: top left;
    text-align: left;
    margin-bottom: 1rem;
    background-color: #fff;
    height: 11vh;
    width: 30vw; 
    max-width: 420px;
  }

  .receipe-card:hover{
    background-color: #eee;
    cursor: pointer;
  }
  
  #receipe-card-title{
      margin: auto;
      font-size: 1.5vw;
  }
  
  #receipe-card-image{
    grid-area: first;
    height: inherit;
    min-width: 100%;
  }
  #receipe-card-long-text-info{
    margin: 0 0 0 0;
    grid-area: second;
    font-size: 1.2vw;
  }