#recipe-collection{
  margin-left: 10px;
}
#recipe-collection-card{
  
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "first second second";
  grid-gap: .5rem;                      
  place-items: top left;
  text-align: left;
  border-radius: 8%;
  height: clamp(1vh, 250px + 5vh, 12vh);
  width: clamp(250px, 250px + 5vw, 70vw);
  background: rgba( 56, 56, 56, .3);    
  }

  #recipe-collection-card:hover{
    background-color: #777;
    cursor: pointer;
  }

  #collection-card-title{
      grid-area: second;
      opacity: 100%;
      margin: auto;
      margin-left: 0;
      font-size: var(--fs-x-medium);
  }
  
  #collection-image{
    grid-area: first;
    height: inherit;
    min-width: 100%;
  }
