#recipe-grid{
    min-height: 800px;
    background: rgba( 56, 56, 56, .3);
    color: fff;
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    place-items: top center;
    max-width: 65vw;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: auto 1fr;
    grid-template-areas: "Header Header Image"
                          "Ingredients Steps Steps";  
  }  
  #recipe-header{
    grid-area: Header;
    text-align: left;
    padding-left: .4rem;
  }
  
  #recipe-header>h2{
    font-size: var(--fs-large);
  }

  #recipe-header>h3{
    font-size: var(--fs-small);
  }
  

  #recipe-image {
    grid-area: Image;
  }  
  #ingredients-list{
    grid-area: Ingredients;
    text-align: left;
    font-size: var(--fs-text);
    /* font-size: large; */
  }  
  #steps-list{
    grid-area: Steps;
    text-align: left;
    font-size: var(--fs-text);
  }