#search-bar{
    display: inline;
    border-radius: 1px;
}

#search-form{
    margin-left: 1vw;
    display: inline;
}

#search-input{
    display: inline;
    border: none;
    background-color: transparent;
}