#thumbnail{
    background-color: #333;
    /* background-color: magenta; */
    margin: 1vw;
    border-radius: 10%;
    width: clamp(60px, 100px + 5vw, 26vw);
  }
  
  #thumb-image{
    border-radius: 10%;
    max-height: 80vh;
    overflow: hidden;
  }

  #thumb-tab{
    height: clamp(4vh, 5px + .5vh, 14vh);  }
  
  #thumb-tab-expanded{
    background-color: #555;
    height: clamp(8vh, 50px + 5vh, 15vh);
  }

  #thumb-title{
    padding-left: .6rem;
    font-size: var(--fs-small);
  }