#tool-bar{
    width: 100%;
    height: min(35px, 4vh);
    background-color: #111;
    position: fixed; left:0px; bottom:2px; z-index:999;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 8vw 1fr 40vw;
}

#timer-container{
    justify-self: end;
}

#timer-button{
    background-color: cornsilk;
    height: 38px;
    width: 4vw;
}

#side-bar-btn{
    background-color: cornsilk;
    height: 38px;
    width: 4vw;
}

#side-bar-btn-active{
    position: relative;
    left: calc(20vw - 4vw);
    border-right: solid #eee;
    background-color: cornsilk;
    height: 38px;
    width: 4vw;
}

#timer{
    background-color: black;
    display: grid;
    place-items: center end;
}

#timer-input{
    grid-row: 1;
}

#timer-display{
    grid-row: 1;
}

#timer-setter-input{
    background-color: #555;
}

#timer-controls{
    grid-row: 1;
}

