
#tool-bar{
    width: 100%;
    height: min(35px, 4vh);
    background-color: #111;
    position: sticky; left:0px; bottom:0px; z-index:999;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 8vw 1fr 22vw;
}

#tool-bar > button {
    /* border-right: solid #eee; */
    background-color: #5d5d5d;
    height: auto;
    width: 4vw;
}

#side-bar-btn-active{
    position: relative;
    left: calc(20vw - 4vw);
    border-right: solid #eee;
    background-color: cornsilk;
    height: 38px;
    width: 4vw;
}

#timer{
    display: inline;
    background-color: black;
    text-align: 'center'
}

#timer-display{
    
}

#timer-container{
    display: grid;
    place-items: end end;
}
