body{
  justify-items: center;
  background: rgb(42,49,50);
  background: linear-gradient(325deg, rgba(42,49,50,1) 0%, rgba(29,39,60,1) 18%, rgba(76,82,83,1) 100%);  /* background:#3d8591; */
  height: 100vh;
}

img{
  object-fit: cover;
  justify-self: left;
  max-width: 100%;
  height: auto;
  background-size: cover;  
}

h4{
  font-size: 1.8vh;
}

h6{
  margin: 0rem;
}

#test-bar{
  background-color: lightsalmon;
  height: 30px;
  position: absolute;
  left: 95vw;
  z-index: +10;
}

#search-panel{
  min-height: 900px;
}
