body{
  background:#3d8591
}

.App {
  text-align: center;
  justify-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: #5d5d5d;
  background:#3d8591
  
}

img{
  object-fit: cover;
  justify-self: left;
  max-width: 100%;
  height: auto;
}

.reciepe-grid{
  display: grid;
  margin: 0 auto;
  grid-gap: 10px;
  place-items: top center;
  max-width: 80vw;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 10vh 1fr 1fr;
  grid-template-areas: "Header Header Image"
                        "Ingredients Steps Steps"
                        "Ingredients Steps Steps";  
}

.ReciepeHeader{
  text-align: left;
  padding-left: .4rem;
  max-height: 10rem;
  grid-area: Header;
  font-size: .8rem;
  background-color: #eaeaea;
}  

.ReciepeImage {
  grid-area: Image; 
   
}

.in-box{
  background-color: #eaeaea;  
  grid-area: Ingredients;
}

.Ingredients-List{
  text-align: left;
  font-size: l.2rem;
}

.m-box{
  background-color: #eaeaea;
  grid-area: Steps;  
}

.Steps-List{
  text-align: left;
  font-size: l.2rem;
}

.randomButton {
  margin: 6rem;
  padding: 1rem;
  
}

/*For prototyping comment out for beautiful loook

.reciepe-grid{
  background-color: aqua;
  
}

.Ingredients-List{
  background-color: brown;
}

.Steps-List{
  background-color: bisque;
}

.reciepeHeader{
  background-color: #d7f;
}

*/


